*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
secrets.properties
*.mp3
*.jpg
*.jpeg
*.png
*.gif
*.wav
*.flac
*.db
*.db-journal
*.db-wal
*.db-shm